body {
  font-size: 16px;
  text-align: left;
  background-color: #D8D8D8;
  width:  100%;
  color: #4A4A4A;
  line-height: 1.25;
}

header {
  height: 69px;
  background: white;
  justify-content: center;
  padding-top: 20px;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav img {
  display: flex;
  height: 3rem;
  margin-left: 24px;
  justify-content: center;
}

header nav h1 {
  display: inline-block;
  font-size: 2rem;
  justify-content: center;
  font-weight: 300;
  color: darkgrey;
}
header nav h1 strong {
  font-weight: 700;
  color: grey;
}

header nav li {
  display: inline;
  justify-content: center;
  padding-right: 16px;
  font-size: 1.5rem;
  flex-grow: 1;
  }

header nav ul.mobile {
  display: none;
}

nav .flex-container {
  display: flex;
  align-items: center;

}

@media only screen and (max-width: 770px) {
  header nav ul,
  header nav h1,
  header nav h1 strong {
		display: none;
	}

  header nav {
    display: flex;

    }
	header nav ul.mobile {
		display: flex;
    width: 100%;
  }

  nav .flex-container {
    flex: 1 1 auto;
    justify-content: space-around;
  }
}

/* Banner */

.banner-container {
  display: inline-flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.banner {
  display: flex;
  overflow:hidden;
  width: 60%;
  padding-left: 24px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.banner img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  height: 100%;
  padding: 32px 0;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex: 2 2 0%;
  flex-flow: column nowrap;
  align-content: flex-start;
  padding: 2rem 2.5rem;

}

.banner-content h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: bold;
  padding-bottom: 2rem;
}

.banner-content h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 2rem;
}

.start-flex {
  padding: 8px 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
  height: 100%;
  flex-direction: column;
  background: grey;
}

.start-text {
  display: flex;
  line-height: 1.2rem;
	padding: 1.5rem 5rem;
	align-content: flex-end;
}

.start-text h2 {
  display: flex;
  font-size: 2rem;
	font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
}

/* information*/

.information-flex {
  display: flex;
  justify-content: center;
  background: white;
  padding: 62px 0;
  width: 100%
  border: 1px solid red;

}

.information-image {
  display: flex;
  width: 60px;
  margin-left: 24px;
  border: 1px solid red;
}

.information-text {
  border: 1px solid red;
}

div h1 {
  font-size: 3rem;
  padding: 24px 24px;
}

.quote p {
  font-size: 1.5rem;
  padding: 24px 24px;
}

.author p {
  font-weight: bolder;
  padding: 24px 24px;
}

.schedule-flex {
  border: 1px solid red;
}
